*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('./Images/Banner-1384-chennai.jpg');
    background-position:center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    pad: 2% 6%;
    justify-content: space-between;
    position: relative;
}

nav img{
    width: 50%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}


.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s ease-in-out;
}

.nav-links ul li:hover::after{
    width:100%;


}

.text-box-col {
    width:90%;
    color: white;
    flex-basis: 48%;
    background: transparent;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.text-box-col h1 {
    font-size: 42px;
    text-align: center;

}

.text-box-col p{
    margin: 10px 0 20px ;
    font-size: 16px;
    color:#fff;
    text-align: center;
}

.text-box-col:nth-child(2){
    margin-right: 100px;

}

.text-box-col:first-child{
    margin-left: 75px;
    /* border-radius: 50% 50% 0 50%; */
    
}

.text-box-col img{
    height:80%;
    align-items: right;
    width: 60%;
    border-radius: 50% 50% 0 50%;
    box-shadow: 
      0 0 0 5px #76ABAE,
      0 0 0 10px #31363F, /* First border */
      0 0 0 15px #EEEEEE; 

    border-spacing: 45px;
}

.text-box-col q{
    color:#dc4949;
    font-style: oblique;
    font-weight: 500;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px  34px ;
    font-size: 16px;
    color:#fff;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
}
.red-btn{
    border: 1px solid red;
    color:rgb(13, 52, 87);
}
nav .fa-regular,
nav .fa-solid {
    display: none;
    color:white;
    font-size: default;
}

@media(max-width:700px){
    .text-box-col{
        margin-bottom: 10px;
        margin-left: 25px;
        padding: 20px 20px;
    }
    .text-box-col h1{
        font-size: 20px;
        
    }
    .text-box-col p{
        font-size: 14px;
        
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #2c2a2abe;
        top:0;
        right:-250px;
        height: 100vh;
        width: 200px;
        text-align: left;
        z-index: 2;
        transition: 1s ease-in-out;
    }

    nav .fa-regular,
    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/* Course */

.Course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;

}

p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7)
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }

}

/* Campus */

.campus{
    width:80%;
    margin: auto;
    text-align:center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background-color: transparent;
    /* background: rgba(226, 0,0, 0.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 1s;
}

.layer:hover{
    background-color: rgba(226,0,0,0.5);
}

.layer h3{
    width:100%;
    color:rgb(5, 2, 5);
    font-weight:500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-80px);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    opacity: 1;
    bottom: 49%;
    text-align: center;
    transform: translateX(0px);
    left:0;
}

/* Facilities */

.fac{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}

.fac-col{
    flex-basis: 31%;
    border-radius: 10px ;
    margin-bottom: 10%;
    text-align: justify;
    
}

.fac-col img{
    width:100%;
    border-radius: 10px;
}

.fac-col embed{
    width:100%;
    height: 60%;
    border-radius: 10px;
}

.fac-col video{
    width:100%;
    height: 60%;
    border-radius: 10px;
    /* border: 2px solid #0dbef4; */
}


.fac-col p{
    padding: 0;
}

.fac-col h3{
    margin: 16px 0;
    text-align: left;
}

/* Testimonials */

.testimonials{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}

.testmonials-col{
    flex-basis: 44%;
    border-radius: 10px ;
    margin-bottom: 5%;
    text-align: left;
    cursor: pointer;
    background: #fff3f3;
    padding: 25px;
    display: flex;
}

.testmonials-col img{
    height: 100px;
    width:100%;
    border-radius:50%;
    margin-left: 5px;
    margin-right: 30px;
}

.testmonials-col p{
    padding: 0;
    text-align: justify;
}

.testmonials-col h3{
    margin-top: 15px;
    text-align: left;
}

.testmonials-col .fa-regular, .fa-solid{
    color:#f44336;
}

@media(max-width:700px){
    .testmonials-col img{

        margin-left: 0px;
        margin-right: 10px;
    }

    .testimonials h1{
        font-size: 24px;
    }

    .fac-col embed{
        width:100%;
        height: 100%;
        border-radius: 10px;
    }
    .testmonials-col img{
        height: 60px;
        width:100%;
        border-radius:50%;
        margin-left: 0px;
        margin-right: 5px;
    }

}

/* CTA */

.cta, .cta1{
    width:80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner1.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta1{
    margin-top:3.5rem;
    top:0;
    transform: translateY(-2rem);
    background-image: none;
    border: 5px double #dc4949;
    padding: 0;
}
.cta h1{
    color:#fff3f3;
    margin-bottom: 40px;
    padding: 0;
}
.cta1 h2{
    top:0;
    color:#e40707;
    margin-bottom: 20px;
    padding: 0;
}

.cta1{
    margin-bottom: 0;
}
.cta1 p{
    text-align: justify;
}
@media(max-width:700px){
    .cta h1{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cta h2{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Footer */
.footer{
    width:100%;
    padding: 30px 0;
    text-align: center;
}

.footer h4{
    margin: 15px 0 15px 0;
    font-weight: 600;
    font-size:25px;
    
}

.footer p{
    text-align: justify;
    padding: 0px 12px;
}

.footer .f{
    text-align:center;
    font-weight: bold;
    bottom: 0px;
}
.icons .fa-brands, .fa-solid{
    color:#f44336;
    margin: 0 13px;
    padding: 10px 0;
    cursor: pointer;
    opacity: .7;
}

.icons .fa-brands:hover, .fa-solid:hover{
    transform: scale(1.5);
    opacity: 1;
}
/* About us new section */
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('bg2.jpeg');
    background-position:center;
    background-size: cover;
    position: relative;
}

.sub-header h1{
    text-align: center;
    color: #fff3f3;
    margin-top: 100px;
}


/* blog-content */

.blog-content{
    width:80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;

}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color:#222;
    font-weight:600 ;
    margin: 30px 0;
}

.blog-left p{
    text-align: justify;
    color: #999;
    padding: 10px;

}

.blog-right{
    flex-basis:31%;
}

.blog-right h3{
    background: #f44336;
    color:white;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width:100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:none;
    outline: none;
    background-color: #f0f0f0;
}

.comment-form{
    margin: 10px 0;
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
        
    }
}

/* contact page */

.location{
    width:80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width:80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


.contact-col div .fa-solid{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
} 

.contact-col input, .contact-col textarea{
    width:100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.navigation-buttons{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 10px;
    position: relative;
}

.a{
    color:#0dbef4;
}

.ab i{
    margin-left: 0;
    margin-right: 0%;

}